src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/datetime.cpython-38.pyc
src/__pycache__/numeric.cpython-38.pyc
src/__pycache__/text.cpython-38.pyc
src/datatime3.py
src/datetime2.py
src/datetime4.py
src/datetime5.py
src/__pycache__/data.cpython-38.pyc
src/datetime6.py
